@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Monserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  background-color: #8A1538;
  font-family: 'Montserrat', sans-serif;
}